<configuration>
	<connectionStrings>
		<add name="Conn1" connectionString="server=127.0.0.1" providerName="System.Data.SqlCclient"/>
		<add name="ConnTest" connectionString="333" providerName="System.Data.SqlCclient"/>
	</connectionStrings>
	<appSettings>
		<add key="Config:name" value="bzy" />
		<add key="Config:age" value="25" />
		<add key="Config:proxy.address" value="192.168.1.5" />
		<add key="Config:proxy:Port" value="80" />
		<add key="Config:proxy:ids:0" value="1123" />
		<add key="Config:proxy:ids:1" value="34534" />
	</appSettings>
</configuration>